.question {
    margin-top: 2.5em;
    margin-right: 2.5em;
    color: #DAA520;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
}

.answer {
    font-size: 1.1rem;
    margin-top: 1.3em;
    margin-right: 2.5em;
    margin-bottom: 2em;
    font-family: "Inter", sans-serif;
    line-height: 1.7rem;
}

@media(max-width:480px) {
    .question{
        font-size: 1.1rem;
        /* background: #000; */
        /* text-align: center; */
        margin-left: 0.6rem;
        line-height: 1.4em;
        margin-right: 0.6rem;
        padding: 0;
        /* background: #000; */
    }
    .answer{
        margin-left: 0.6rem;
        font-size: 1rem;
        margin-right: 0;
        padding: 0;
    }
}