:root {
    --primaryColor: #FFE68C
}

.container {
    position: relative;
    background-color: transparent;
    margin: 0 auto;
    padding: 1em 1em;
}

.container-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 130px;
    padding: 0.5em 0;
}

.nav {
    display: flex;
    font-family: 'Roboto', sans-serif;
}

.navItem {
    margin-left: 2em;
    text-decoration: none;
    font-size: 1.5rem;
}