.step {
    display: flex;
    background-color: #FFFCE2;
    margin: 2em auto;
    width: 60%;
    height: 140px;
}

.date {
    margin: 2em 2em 2em 8em;
    /* background-color: orange; */
    font-family: 'Roboto', sans-serif;
}

.desc {
    /* background-color: blue; */
    width: 50%;
    margin-right: 8em;
    margin-left: 2em;
}

.title {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    margin-top: 2em;
    margin-left: 1em;
}

.subtitle {
    font-family: 'Roboto', sans-serif;
    line-height: 1.2em;
    color: #667085;
    margin-bottom: 2em;
    margin-left: 1em;
}