.heading {
    margin: auto;
    text-align: center;
    font-size: 3rem;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    letter-spacing: 0.06em;
}

.link {
    color: #48505f;
}

@media (max-width:480px) {
    .heading{
        margin-top: 1.5rem !important;
        font-size: 2rem !important;
    }
}